<div class='mx-auto container'>
    <div class='row my-3'>
        <div class='container-fluid border rounded p-4'>
            <div class="row">
                <div class="col-5">
                    <h5>ORDER#: 12345</h5>
                    <span class='font-weight-bold'>John Doe</span> - <span class='text-success'>Active</span> <br>
                    <span>+63 917 123 4567 - john.doe@gmail.com</span> <br>
                    <span>123 Main St., Manila City, Metro Manila</span>
                    <br><br>
                    <span class='font-weight-bold'>DATE ORDERED:</span> 02/01/2020 <br>
                    <span class='font-weight-bold'>DATE ESTIMATED:</span> 02/07/2020

                    <div class="dropdown mt-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="statusMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Change Order Status
                        </button>
                        <div class="dropdown-menu" aria-labelledby="statusMenu">
                            <a class="dropdown-item">Active</a>
                            <a class="dropdown-item">Hold</a>
                            <a class="dropdown-item">Cancelled</a>
                            <a class="dropdown-item">Delivered</a>
                        </div>
                    </div>
                </div>

                <div class='col-7'>
                    <table class="table">
                        <col width="180">
                        <col width="30">
                        <thead>
                            <tr>
                                <th>TOTAL</th>
                                <th>PHP 1700.00</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kirkland Vitamin-C (PHP 200.00 X 2)</td>
                                <td>400.00</td>
                            </tr>
                            <tr>
                                <td>Kirkland Vitamin-D (PHP 300.00 X 1)</td>
                                <td>300.00</td>
                            </tr>
                            <tr>
                                <td>Kirkland Vitamin-E (PHP 500.00 X 2)</td>
                                <td>1000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class='row my-3'>
        <div class='container-fluid border rounded p-4'>
            <div class="row">
                <div class="col-5">
                    <h5>ORDER#: 12344</h5>
                    <span class='font-weight-bold'>John Doe</span> - <span class='text-secondary'>Delivered</span><br>
                    <span>+63 917 123 4567 - john.doe@gmail.com</span> <br>
                    <span>123 Main St., Manila City, Metro Manila</span>
                    <br><br>
                    <span class='font-weight-bold'>DATE ORDERED:</span> 01/21/2020 <br>
                    <span class='font-weight-bold'>DATE ESTIMATED:</span> 01/28/2020

                    <div class="dropdown mt-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="statusMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Change Order Status
                        </button>
                        <div class="dropdown-menu" aria-labelledby="statusMenu">
                            <a class="dropdown-item">Active</a>
                            <a class="dropdown-item">Hold</a>
                            <a class="dropdown-item">Cancelled</a>
                            <a class="dropdown-item">Delivered</a>
                        </div>
                    </div>
                </div>

                <div class='col-7'>
                    <table class="table">
                        <col width="180">
                        <col width="30">
                        <thead>
                            <tr>
                                <th>TOTAL</th>
                                <th>PHP 2500.00</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kirkland Vitamin-E (PHP 500.00 X 5)</td>
                                <td>2500.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
