<div class='mx-auto container'>
<div class='row mt-3 ml-1'>
            <h3>Edit Items</h3>
        </div>
<div class='row ml-1'>
    <button class='btn btn-success'>Add Item</button>
</div>
<br>
    <div class='row mt-2 mb-4'>
        <div class='row media border container rounded'>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
                <img class="rounded mr-2 itemPicture" src="../assets/kirkland-vitc.png" alt="Generic placeholder image">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 media-body my-auto px-3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Item Name</span>
                            </div>
                            <input type="text" class="form-control" value='Kirkland Vitamin-C' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                    <div class="col-lg-4 mt-xs-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Price</span>
                            </div>
                            <input type="text" class="form-control font-weight-bold" value='200.00' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                </div>
                <div class="row mt-2">
                    <button class='btn btn-light border mx-2'>Edit Icon</button>
                    <button class='btn btn-danger mx-2'>Delete Item</button>
                </div>
            </div>
        </div>
    </div>
    <div class='row mt-2 mb-4'>
        <div class='row media border container rounded'>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
                <img class="rounded mr-2 itemPicture" src="../assets/kirkland-vitd.png" alt="Generic placeholder image">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 media-body my-auto px-3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Item Name</span>
                            </div>
                            <input type="text" class="form-control" value='Kirkland Vitamin-D' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                    <div class="col-lg-4 mt-xs-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Price</span>
                            </div>
                            <input type="text" class="form-control font-weight-bold" value='300.00' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                </div>
                <div class="row mt-2">
                    <button class='btn btn-light border mx-2'>Edit Icon</button>
                    <button class='btn btn-danger mx-2'>Delete Item</button>
                </div>
            </div>
        </div>
    </div>

    <div class='row mt-2 mb-4'>
        <div class='row media border container rounded'>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
                <img class="rounded mr-2 itemPicture" src="../assets/kirkland-vite.png" alt="Generic placeholder image">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 media-body my-auto px-3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Item Name</span>
                            </div>
                            <input type="text" class="form-control" value='Kirkland Vitamin-E' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                    <div class="col-lg-4 mt-xs-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Price</span>
                            </div>
                            <input type="text" class="form-control font-weight-bold" value='500.00' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                </div>
                <div class="row mt-2">
                    <button class='btn btn-light border mx-2'>Edit Icon</button>
                    <button class='btn btn-danger mx-2'>Delete Item</button>
                </div>
            </div>
        </div>
    </div>

    <div class='row mt-2 mb-4'>
        <div class='row media border container rounded'>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
                <img class="rounded mr-2 itemPicture" src="../assets/enervon-vitc.png" alt="Generic placeholder image">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 media-body my-auto px-3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Item Name</span>
                            </div>
                            <input type="text" class="form-control" value='Enervon Vitamin-C' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                    <div class="col-lg-4 mt-xs-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Price</span>
                            </div>
                            <input type="text" class="form-control font-weight-bold" value='150.00' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                </div>
                <div class="row mt-2">
                    <button class='btn btn-light border mx-2'>Edit Icon</button>
                    <button class='btn btn-danger mx-2'>Delete Item</button>
                </div>
            </div>
        </div>
    </div>

    <div class='row mt-2 mb-4'>
        <div class='row media border container rounded'>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
                <img class="rounded mr-2 itemPicture" src="../assets/biogesic-paracetamol.png" alt="Generic placeholder image">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 media-body my-auto px-3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Item Name</span>
                            </div>
                            <input type="text" class="form-control" value='Biogesic Paracetamol' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                    <div class="col-lg-4 mt-xs-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Price</span>
                            </div>
                            <input type="text" class="form-control font-weight-bold" value='300.00' aria-label="" aria-describedby="basic-addon1">
                        </div>          
                    </div>
                </div>
                <div class="row mt-2">
                    <button class='btn btn-light border mx-2'>Edit Icon</button>
                    <button class='btn btn-danger mx-2'>Delete Item</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>