<div class='mx-auto container mt-5 mt-md-0'>
    <div class='row mt-3 ml-1'>
        <h3>Edit Items</h3>
    </div>
    <div id="btnAdd" class='row ml-1'>
        <button class='btn btn-success'>Add Item</button>
    </div>
    <br>
        <form method="POST" action="/admin/products" enctype="multipart/form-data">
            <div id="template" class='row mt-2 mb-4 ml-3 ml-md-0'>
                <div class='row media border container rounded'>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center my-3">
                        <img class="rounded mr-2 itemPicture" src="itempictures/default.png" alt="Generic placeholder image">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 media-body my-auto px-3">
                        <div class="row">
                            <input class="d-none" type="text" name="id" value=''>
                            <div class="col-lg-6 mb-2 mb-md-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Item Name</span>
                                    </div>
                                    <input name="name" type="text" class="form-control" value='' aria-label="" aria-describedby="basic-addon1" required>
                                </div>          
                            </div>
                            <div class="col-lg-4 mt-xs-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Price</span>
                                    </div>
                                    <input name="price" type="number" class="form-control font-weight-bold decimal" value='' aria-label="" aria-describedby="basic-addon1" required>
                                </div>          
                            </div>
                        </div>
                        <div class="row mt-2 px-3">
                            <div class="fileupload-temp input-group mb-1 file-width">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Icon</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" name='itemImg' accept='image/png,image/jpg,.jpg,.jpeg,.png' class="custom-file-input">
                                    <label class="custom-file-label" for="itemImg">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 mb-3 px-3">
                            <button type="button" class='cancel-temp btn btn-danger border'>Cancel</button>
                            <button class='confirm-temp btn btn-success border ml-3'>Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        {{#each products}}
        <form  method="POST" action="/admin/products" enctype="multipart/form-data"> 
            <div class='row mt-2 mb-4 ml-3 ml-md-0'>
                <div class='row media border container rounded'>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center">
                        <img class="rounded mr-2 itemPicture" src="itempictures/{{this.picture}}" alt="Generic placeholder image">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 media-body my-auto px-3">
                        <div class="row">
                            <input class="d-none" type="text" name="id" value='{{this._id}}' >
                            <div class="col-lg-6 mb-2 mb-md-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Item Name</span>
                                    </div>
                                    <input name="name" type="text" class="form-control" value='{{this.name}}' aria-label="" aria-describedby="basic-addon1" readonly required> 
                                </div>          
                            </div>
                            <div class="col-lg-4 mt-xs-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Price</span>
                                    </div>
                                    <input name="price" type="number" class="form-control font-weight-bold price decimal" value='{{this.price}}' aria-label="" aria-describedby="basic-addon1" readonly required>
                                </div>          
                            </div>
                        </div>
                        <div class="row mt-2 mb-3 mb-md-0 mx-0">
                            <button type="button" class='edit btn btn-light border'>Edit</button>
                            <button type="button" class='editicon btn btn-light border'>Edit Icon</button>
                            <button type="submit" formaction="/admin/deleteProduct" class='delete btn btn-danger ml-3'>Delete Item</button>
                            <div class="fileupload input-group mb-1 file-width">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Icon</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" name='itemImg' accept='image/png,image/jpg,.jpg,.jpeg,.png' class="custom-file-input">
                                    <label class="custom-file-label" for="itemImg">Choose file</label>
                                </div>
                            </div>
                            <button type="button" class='cancel btn btn-light border ml-3'>Cancel</button>
                            <button class='confirm btn btn-success border ml-3'>Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        {{/each}}

    </div>
</div>

<script>
    $(document).ready( function(){
        
        var name;
        var price;
        var targetInputs;
        var priceList
        $("#template").hide();
        $(".cancel").hide();
        $(".confirm").hide();
        $(".editicon").hide();
        $(".fileupload").hide();


        $("body").on("click", ".edit", function(){
            
            targetInputs = $(this).parent().parent().find("input");
            name = targetInputs[0].getAttribute("value");
            price = targetInputs[1].getAttribute("value");

            $(this).parent().children().filter(".edit").hide();
            $(this).parent().children().filter(".cancel").show();
            $(this).parent().children().filter(".delete").hide();
            $(this).parent().children().filter(".confirm").show();
            $(this).parent().children().filter(".editicon").show();

            for(i=0; i<targetInputs.length; i++)
            {
                targetInputs[i].removeAttribute("readonly")
            }
        });
        
        $("body").on("click", ".cancel", function(){
            targetInputs = $(this).parent().parent().find("input");
            for(i=0; i<targetInputs.length; i++)
            {
                targetInputs[i].setAttribute("readonly", true);
            }
            targetInputs[0].value = name;
            targetInputs[1].value = price;
            $(this).parent().children().filter(".edit").show();
            $(this).parent().children().filter(".cancel").hide();
            $(this).parent().children().filter(".delete").show();
            $(this).parent().children().filter(".confirm").hide();
            $(this).parent().children().filter(".editicon").hide();
            $(this).parent().children().filter(".fileupload").hide();
        });

        $("body").on("click", ".cancel-temp", function(){
            targetDiv = $(this).parent().parent().parent().parent().hide();;
        });

        $("body").on("click", ".delete", function(){
            targetDiv = $(this).parent().parent().parent().parent().hide();
        });

        $("body").on("click", ".confirm", function(){
            targetInputs = $(this).parent().parent().find("input");

            for(i=0; i<targetInputs.length; i++)
            {
                targetInputs[i].setAttribute("readonly", true);
            }

            $(".cancel").hide();
            $(".edit").show();
            $(".delete").show();
            $(".editicon").hide();
            $(".confirm").hide();
            $(this).parent().children().filter(".edit").show();
            $(this).parent().children().filter(".cancel").hide();
            $(this).parent().children().filter(".delete").show();
            $(this).parent().children().filter(".confirm").hide();
            $(this).parent().children().filter(".editicon").hide();
            $(this).parent().children().filter(".fileupload").hide();
        });

        $("#btnAdd").click( function(){
            $("#template").toggle();
        });

        $(".editicon").click(function ()
            {
                $(this).hide();
                $(this).siblings().filter(".fileupload").show();
            }
        );

        // Custom File Input - Show File Name
        $('.custom-file-input').on('change',function(){
                var fileName = $(this).val();
                $(this).next('.custom-file-label').html(fileName);
        })


        // Decimal two places
        var decimal = $(".decimal")

        for(i=0; i<decimal.length; i++)
        {
            newValue = $(decimal[i]).val();
            newValue = parseFloat(newValue);
            newValue = newValue.toFixed(2);
            $(decimal[i]).val(newValue);
        }
    });

</script>