<div class="col-12 col-lg-6 mx-auto vertical-center">
    <div class="container mx-auto my-5">
        <h2>Register a new account</h2>
        <div class="jumbotron bg-grey" id="accountbox">
            <form class="needs-validation" action="/register" method="POST" novalidate>
                <div id="acctformcont" class="container">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input name="fname" class="form-control" type="text" id="fname" placeholder="First Name" minlength="2" maxlength="15" required>
                        <div class="invalid-feedback">This field must be 2 to 15 characters long</div>
                    </div>
                        <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input name="lname" class="form-control" type="text" id="lname" placeholder="Last Name" minlength="2" maxlength="15" required>
                        <div class="invalid-feedback">This field must be 2 to 15 characters long</div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input name="email" class="form-control" type="email" id="email" placeholder="Email" required>
                        <div class="invalid-feedback">Please enter a valid email</div>
                    </div>
                    <div class="form-group">
                        <label for="number">Contact Number</label>
                        <input name="number" class="form-control" type="text" id="number" pattern="^(09)\d{9}$" 
                            placeholder="11-digit Contact Number" required>
                        <div class="invalid-feedback">Please follow the 11-digit format: 09xxxxxxxxx </div>
                    </div>
                    <div class="form-group">
                        <label for="pw1">Password</label>
                        <input name="pw1" class="form-control" type="password" id="pw1" placeholder="Password">
                        <div class="invalid-feedback"><span id="pwError"></span></div>
                    </div>
                    <div class="form-group">
                        <label for="pw2">Confirm Password</label>
                        <input name="pw2" class="form-control" type="password" id="pw2" placeholder="Confirm Password">
                        <div class="invalid-feedback"><span id="confirmpw"></span></div>
                    </div>
                    <div class="form-group">
                        <label for="add1">Address Line 1</label>
                        <input name="add1" class="form-control" type="text" id="add1" placeholder="Unit / Block no., Street no., Subd.," minlength="5" maxlength="30" required> 
                        <div class="invalid-feedback">Please enter your address</div>
                    </div>
                    <div class="form-group">
                        <label for="add2">Address Line 2</label>
                        <input name="add2" class="form-control" type="text" id="add2" placeholder="Brgy., Municipality, City / Province, Region" minlength="5" maxlength="30" required>
                        <div class="invalid-feedback">Please enter your address</div>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input name="city" class="form-control" type="text" id="city" placeholder="City" minlength="2" maxlength="15" required>
                        <div class="invalid-feedback">Please enter name of city</div>
                    </div>
                    <button type='submit' class='btn btn-primary'>Register</button>
                </div>
            </form>
            <div class='row mx-3 my-3 d-flex align-items-center'>
            <span class='text-center'>Have an account? <a href='/'>Login</a> instead...</span>
        </div>
        </div>
    </div>
</div>

<script>
    var form = document.querySelector('.needs-validation');


    form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }

        form.classList.add('was-validated');
    })

    /*
    form.addEventListener('#pw2', function(event) {


        if(pw1 === '')
        {
            $("#pwError").text("Please fill in your desired password")

        }
        else{
            $("#pwError").text("");
            event.preventDefault();
            event.stopPropagation();
        }

        if(pw1 != pw2)
        {
            $("#confirmpw").text("Passwords do not match");
        }
        else{
                       event.preventDefault();
            event.stopPropagation();
        }

        form.classList.add('was-validated');
    })
    */



    

    
</script>